@using ReflectionIT.Mvc.Paging;
@model PagingList<DataAccess.Model.Patients>
@addTagHelper*,ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Index";
}

@section Link{
    <link href="~/css/card.css" rel="stylesheet" />
    <link href="~/css/search.css" rel="stylesheet" />
}


<div class="grid-container">
    <div class=" item1 shadow main-coler p-md-5 p-2 radius">
        <div class="row">
            <div class="col-lg-9 col-12">
                <form class="search p-0 m-0">
                    <input type="text" name="search" id="search-bar" placeholder="The Name Of The Patient">
                    <a href="#"><img class="search-icon" src="http://www.endlessicons.com/wp-content/uploads/2012/12/search-icon.png"></a>
                </form>
            </div>

            <div class="col-lg-3 text-right">
                <a class="btn btn-primary mt-1" style="border-radius:50%" asp-action="Create"><i class="fas fa-plus text-white"></i></a>

            </div>
        </div>
       
        <div class="row">
            @foreach (var patient in Model)
            {
                var photopath = "/img/profile/" + patient.PhotoPath;
                var random = new Random();

                <div class="col-xl-3 col-md-4 col-sm-6 col-xs-12">
                    <main class="page-content">
                        <div class="card">
                            @if (patient.PhotoPath != null)
                            {
                                <img class="img-responsive " style="position:absolute" src="@photopath">
                            }
                            else
                            {
                                <img class="img-responsive" style="position:absolute" src="https://picsum.photos/id/@random.Next(500)/500/600">
                            }
                            <div class="content py-4 ">
                                <h2 class="title pb-5">
                                    @Html.DisplayFor(modelItem => patient.Name)
                                </h2>
                                <p class="copy">Check out all of these gorgeous mountain trips with beautiful views of, you guessed it, the mountains</p>
                                <a asp-controller="Patients" asp-action="Details" asp-route-id="@patient.Id" class="btn">More Detail</a>
                            </div>
                        </div>
                    </main>
                </div>
            }
        </div>
        @if (Model.Count() >= 12 || ViewBag.Page != 1)
        {

            <nav class="paging" aria-label="Page navigation example">
                <vc:pager paging-list="@Model" />
            </nav>
        }
    </div>
    <div class=" item2 shadow main-coler mt-4 mt-md-0 pb-4 radius">
        <h1 class="px-5 pt-5 pb-3">Your Appointment</h1>
        <section class="package-schedules p-2">
            <article class="on-hold-arrival radius">
                <p> <span class="date-header">12</span> <br> <span class="day"> Mon </span></p>
                <p><span class="package-stat">Package arrives</span> <br> <span class="sched-desc">From a scrub</span></p>
            </article>
            <article class="pickup-appointment radius">
                <p> <span class="date-header">23</span> <br> <span class="day"> Fri </span></p>
                <p><span class="package-stat">Pickup appointment</span> <br><span class="sched-desc"> New Jersey's office, Elizabeth</span></p>
            </article>

            <article class="on-hold-arrival ">
                <p> <span class="date-header">27</span> <br><span class="day"> Tue </span> </p>
                <p> <span class="package-stat">Package on hold </span><br><span class="sched-desc"> On hold until 29 September</span></p>
            </article>
            <article class="on-hold-arrival on-hold-arrives ">
                <p><span class="date-header"> 29 </span> <br> <span class="day">Thu</span></p>
                <p><span class="package-stat">Package arrives</span> <br> <span class="sched-desc">From Alibaba</span></p>
            </article>
        </section>
    </div>
    </div>

    @section Scripts{
    }
