

<div class="container py-lg-5">
    <div class="row">
        <h1 class=" text-white display-3 mx-auto">contact us</h1>
    </div>
    <div class="row">
        <h4 class=" mx-auto">We'd love to hear from you!</h4>
    </div>
    <div class="row input-container">
        <div class="col-sm-12 p-0">
            <div class="styled-input wide">
                <input class="radius" type="text" required />
                <label>Name</label>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 p-0">
            <div class="styled-input">
                <input class="radius" type="text" required />
                <label>Email</label>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 p-0">
            <div class="styled-input" style="float:right;">
                <input class="radius" type="text" required />
                <label>Phone Number</label>
            </div>
        </div>
        <div class="col-sm-12 p-0">
            <div class="styled-input wide">
                <textarea class="radius" required></textarea>
                <label>Message</label>
            </div>
        </div>
        <div class="col-xs-12 mx-auto">
            <div class="btn-lrg submit-btn">Send Message</div>
        </div>
    </div>
</div>