<header>
<nav id="navbar" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light main-coler shadow-sm  fixed-top scrolling-navbar">
    <div class="container">
        <a class="navbar-brand navtext" asp-area="" asp-controller="Home" asp-action="Index">FindDoc</a>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse ">
            <partial name="_LoginPartial" />
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link navtext" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>

                @if (User.IsInRole("Doctors"))
                {
                    <li class="nav-item">
                        <a class="nav-link navtext" asp-area="" asp-controller="Patients" asp-action="Index">Patients</a>
                    </li>
                }
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item mx-auto">
                        <a class="nav-link btn btn-primary text-white" asp-area="admin" asp-controller="Home" asp-action="Index">Admin Page</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
</header>