@model IEnumerable<DataAccess.Model.City>

@{
    ViewData["Title"] = "Index";
}


<div class="content">
    <div class="row">
        <div class="col-md-12">
            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-title"> Simple Table</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table tablesorter " id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CityName)

                                    </th>

                                    <th>
                                        Action
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CityName)
                                        </td>
                                        
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                            <form class="d-inline-flex" asp-action="Delete" asp-route-id="@item.Id">

                                                <input style="padding: 0; border: none; background: none;" type="submit" value="Delete" class="btn text-danger btn-sm p-0" />
                                            </form>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

