@model DataAccess.ViewModel.AuthViewModel
@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />
    <link href="~/css/Animation.css" rel="stylesheet" />

</head>
<body>

    <div class="animation-area position-absolute" style="z-index:-5;height:100%;position:absolute">
        <ul class="box-area">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>


    <h1 style="padding-bottom:20px;"><a style="font-size: 24px;color:#0005" asp-area="" asp-action="Index" asp-controller="Home">FindDoc</a></h1>
    <div class="container @(ViewBag.SignUp?"right-panel-active":"") " id="container">
<div class="form-container sign-up-container">
    <form id="account" method="post" asp-action="Register">
        <h1>Create Account</h1>
        <div class="social-container">
            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>or use your email for registration</span>
        <span asp-validation-summary="All" class="text-danger"></span>
        <input required placeholder="Name" asp-for="UserName" input type="text" class="form-control" />
        <span asp-validation-summary="All" class="text-danger"></span>
        <input required placeholder="Email" asp-for="SignUpEmail" input type="email" class="form-control" />
        <span asp-validation-summary="All" class="text-danger"></span>
        <input required placeholder="Password" asp-for="SignUpPassword" input type="password" class="form-control" />
        <span asp-validation-summary="All" class="text-danger"></span>
        <input required placeholder="Conform Passwor" asp-for="SignUpConfirmPassword" input type="password" class="form-control" />
        <button class="mt-3 text-white">Sign Up</button>
    </form>
        </div>
        <div class="form-container sign-in-container">
            <form id="account" method="post" asp-action="Login">
                <h1 style="padding-top:20px">Sign in</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>or use your account</span>
                <div asp-validation-summary="All" class="text-danger"></div>
                <input required placeholder="Email" asp-for="LogInEmail" input type="email" class="form-control" />
                <span asp-validation-for="LogInEmail" class="text-danger"></span>
                <input required placeholder="Password" asp-for="LogInPassword" input type="password" class="form-control" />
                <span asp-validation-for="LogInPassword" class="text-danger"></span>
                @*<div class="form-group">
            <div class="checkbox">
                <label asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>*@
                <button class="mt-3 text-white">Login</button>

                <div class="form-group">
                    <p>
                        @*<a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>*@
                    </p>

                </div>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>



    <script>
        const signUpButton = document.getElementById('signUp');
        const signInButton = document.getElementById('signIn');
        const container = document.getElementById('container');

        signUpButton.addEventListener('click', () => {
            container.classList.add("right-panel-active");
        });

        signInButton.addEventListener('click', () => {
            container.classList.remove("right-panel-active");
        });
    </script>

</body>
</html>